name: Enterprise WebdriverIO CI
on:
  push:
    branches: [master]
    paths:
      - 'tools/wdio-test-automation-suite/**'
      - 'tools/eslint-rules/**'
      - '.github/workflows/wdio-ci.yml'
  pull_request:
    branches: [master]
    paths:
      - 'packages/wdio-test-automation-suite/**'
      - 'tools/eslint-rules/**'

jobs:
  test:
    runs-on: ubuntu-latest

    # Required for Github pages deployment
    permissions: 
      contents: write
      
    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Setup Node.js 22
        uses: actions/setup-node@v4
        with:
          node-version: 22
          # cache: 'yarn'
          # we remove the cache property here temporarily because setup-nodes's built-in cache can
          # sometimes conflict with manual Corepack setups in Yarn modern

      - name: Enable Corepack
        run: |
          corepack enable
          yarn --version # Debug step tp verify Yarn 4 is active
          
      - name: Install Dependencies
        # Use --prefer-offline for speed if the cache is a miss
        # Yarn 4 uses different flags; --frozen-lockfile is default in CI
        run: yarn install

      - name: Run WDIO Tests
        # Using the workspace command to target the suite
        run: yarn workspace @framework-tools/wdio-test-automation-suite run test:ci

      - name: Upload Screenshots on Failure
        if: always()
        uses: actions/upload-artifact@v4
        with:
          name: test-failure-evidence-allure
          path: tools/wdio-test-automation-suite/wdio/allureScreenshots
          retention-days: 2

      - name: Generate Allure Report
        if: always()
        run: yarn workspace @framework-tools/wdio-test-automation-suite run allure generate wdio/allure-results --clean

      - name: Deploy Allure to Github Pages
        if: always()
        uses: peaceiris/actions-gh-pages@v3
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./tools/wdio-test-automation-suite/wdio/allure/allure-report
          destination_dir: allure-history
      
      
  
